{% extends './layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-md-3">
      <h3>Queues</h3>
      <ul class="list-group">
        {% for row in queue_list %}
          <li class="list-group-item">
            <a href="/?queue_id={{row.id}}"><span class="badge pull-right">{{row.post_count}}</span> {{row.queue_name}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-9">
      <h3>
        {{post.title}}
      </h3>
      <table class="table table-bordered">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
            <tr>
                <th>Post Id</th>
                <td>#{{post.id}}</td>
            </tr>
            <tr>
                <th>Queue</th>
                <td>
                    <select>
                        {% for row in queue_list %}
                        <option value="{{row.id}}">{{row.queue_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Category</th>
                <td>
                    <select>
                        {% for row in category_list %}
                        <option value="{{row.id}}">{{row.category_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Status</th>
                <td>
                    <select name="status_id">
                        {% for row in status_list %}
                        <option value="{{row.id}}">{{row.status_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
              <td colspan="2"><textarea name="body">{{post.body}}</textarea></td>
            </tr
            <tr>
              <td colspan="2"><input type="submit"></td>
            </tr>
        </tbody>
      </table>
    </div>

  </div>

{% endblock %}


