{% extends '../layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
  <style type="text/css">
    body {
      font-family: 'Raleway', sans-serif;
    }

    p {
      color:#CCC;
    }

    .spacing {
      padding-top:7px;
      padding-bottom:7px;
    }
    .middlePage {
      width: 680px;
      margin: auto;
    }

    .logo {
      color:#CCC;
    }
  </style>
{% endblock %}



{% block content %}
<div class="middlePage">

  <div class="page-header">
    <h1 class="logo">HLab Platform <small>Welcome to our place!</small></h1>
  </div>

  <div class="panel panel-info">
    
    <div class="panel-heading">
      <h3 class="panel-title">Please Sign In</h3>
    </div>
    
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5" >
          <a href="/user/facebook?next={{ next|url_encode }}"><img src="http://techulus.com/buttons/fb.png" /></a><br/>
          <a href="/user/twitter"><img src="http://techulus.com/buttons/tw.png" /></a><br/>
          <a href="/user/google"><img src="http://techulus.com/buttons/gplus.png" /></a>
        </div>
        <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
          <form action="/user/manual" method="POST" class="form-horizontal">
            <fieldset>
              <input id="textinput" name="username" type="text" placeholder="Enter User Name" class="form-control input-md">
              <input id="textinput" name="password" type="text" placeholder="Enter Password" class="form-control input-md">
              <div class="spacing"><input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"><small> Remember me</small></div>
              <br><span style="color: red">{{message}}</span>
              <div class="spacing">
                <a href="#"><small> Forgot Password?</small></a><br/>
                <a href="#"><small> Sign Up</small></a><br/>
              </div>
              <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right">Sign In</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}


{% block scripts %}

  <script type="text/javascript">
    // hello.init({
    //   facebook: '193712611002614'
    // }, {redirect_uri: '/user/redirect'});

    // hello.on('auth.login', function(auth) {
    //   alert('auth.login event');
    //   // Call user information, for the given network
    //   hello(auth.network).api('/me').then(function(r) {
    //     alert('/me api event');
    //     // Inject it into the container
    //     var label = document.getElementById('profile_' + auth.network);
    //     if (!label) {
    //       label = document.createElement('div');
    //       label.id = 'profile_' + auth.network;
    //       document.getElementById('profile').appendChild(label);
    //     }
    //     label.innerHTML = '<img src="' + r.thumbnail + '" /> Hey ' + r.name;
    //   });
    // });
  </script>

{% endblock %}




