{% extends '../layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
  <style type="text/css">
    p {
      color:#CCC;
    }

    .spacing {
      padding-top:7px;
      padding-bottom:7px;
    }
    .middlePage {
      width: 680px;
      margin: auto;
    }

    .logo {
      color:#CCC;
    }
  </style>
{% endblock %}



{% block content %}
<div class="middlePage">

  <div class="page-header">
    <h1 class="logo">HLab Platform <small>Welcome to our place!</small></h1>
  </div>

  <div class="panel panel-info">
    
    <div class="panel-heading">
      <h3 class="panel-title">Please Sign In</h3>
    </div>
    
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5" >
          <a href="/user/facebook?next={{ next|url_encode }}"><img src="/images/fb.png" /></a><br/>
          <a href="/user/twitter"><img src="/images/tw.png" /></a><br/>
          <a href="/user/google"><img src="/images/gplus.png" /></a>
        </div>
        <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
          <form action="/user/manual{%if next %}?next={{next|url_encode}}{% endif %}" method="POST" class="form-horizontal">
            <fieldset>
              <input id="textinput" name="username" type="text" placeholder="Enter User Name" class="form-control input-md">
              <input id="textinput" name="password" type="text" placeholder="Enter Password" class="form-control input-md">
              <div class="spacing"><input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"><small> Remember me</small></div>
              <br><span style="color: red">{{message}}</span>
              <div class="spacing">
                <a href="#"><small> Forgot Password?</small></a><br/>
                <a href="#"><small> Sign Up</small></a><br/>
              </div>
              <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right">Sign In</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}


{% block scripts %}

  <script type="text/javascript">
  </script>

{% endblock %}




