{% extends '../layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-md-3">
      <h3>Queues</h3>
      <ul class="list-group">
          <li class="list-group-item">
            <a href="#">Profile</a>
          </li>
          <li class="list-group-item">
            <a href="#">Change Password</a>
          </li>
          <li class="list-group-item">
            <a href="#">Logout</a>
          </li>
      </ul>
    </div>

    <div class="col-md-9">
      <h3>User Profile</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
            <tr>
              <th>Display Name</th>
              <td>{{credentials.displayName}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{credentials.email}}</td>
            </tr>
            <tr>
              <th>Link</th>
              <td>{{credentials.raw.link}}</td>
            </tr>
        </tbody>
      </table>
    </div>

  </div>

{% endblock %}


